@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
  scroll-behavior: smooth;
}

.logo a{
	text-decoration: none;
	color: #212121;
	font-size: 18px;
	font-family: "Source Sans Pro";
	font-weight: bold;
}
.logo{
	color: #212121;
	font-size: 18px;
	font-family: "Source Sans Pro";
	font-weight: bold;
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-left: 2%;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	display: flex;
}

nav{
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	background-color: rgba(35, 35, 35, 0.5);
	width: 100%;
	transition: 0.6s;
	position: absolute;
}

header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../images/banner.png");
 	height: 1000px;
 	background-position: center;
	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}

nav.sticky{
	padding: 45px 0;
	background: rgba(35, 35, 35);
	color: white;
	background-size: 100% 20%;

}
nav.sticky ul li a{
	color: white;
}
nav.sticky p{
	color: white;
}
nav.sticky p a:hover{
	color: #E64A19;
}
nav.sticky ul li a:hover{
	color: #E64A19;
}

nav{
	display: flex;
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	display: flex;
	background: none;
	color: #212121;

}
.navbar{
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	display: flex;
	float: right;
}

.ul{
	display: flex;
	font-size: 18px;
	float: right;
	justify-content: flex-end;
	width: 100%;

}


a{
	text-decoration: none;
	color: #212121;
}
a:hover{
	color: #E64A19;
}

.nav_content {
	font-family: 'Source Sans Pro';
	font-weight: bold;
	color: #212121;
	float: right;
	padding: 0 3% 0 3%;
}

.banner_content{
	text-align: right;
 	position: absolute;
  	top: 50%;
  	left:  70%;
  	transform: translate(-50%, -5%);
  	margin: 0;
  	padding: 0;
}

.storyteller{
	color: #212121;
	font-size: 72px;
	font-family: 'Source Sans Pro';
	font-weight: bold;
}

.p{
	color: #212121;
	font-size: 18px;
	word-wrap: break-word;
	font-family: 'Source Sans Pro', serif;
	font-weight: 200;
	text-align: right;
	margin: 0;
	line-height: 25px;
	display: inline-block;
	width: 100%;
	height: 10%;
}

.button {
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  border-color: #212121;
  text-align: center;
  background-color: none; 
  color:  #212121;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 5% 20% 5% 20%;
  margin-top: 10%;
}


.button:hover {
	 border-color: #E64A19;
	 color:  #E64A19;

}
.button_text{
	font-size: 18px;
  font-family: "Source Sans Pro";
  font-weight: 800;
  text-align: center;

}


.rect{
	width: 160px;
	height: 8px;
	background-color: #212121;
	display: inline-block;
	margin: 5% 0;
}

#about{
	text-align: center;
	margin: 5% 15%;
	padding-top: 10%;
}

#featured{
	text-align: center;
	margin: 5% 15%;
}
.heading{
	font-size: 27px;
	font-family: "Source Sans Pro";
	font-weight: bold;
	color: #212121;
}

.heading_des{
	font-size: 16px;
	font-family: "Source Sans Pro";
	color: #212121;
	word-wrap: break-word;
	line-height: 30px;
	padding-top: 2%;

}

#about_heading{
	padding-bottom: 5%;
}


#about2{
	display: flex;
	padding: 5%;
	text-align: left;
	background-color: #EFEFEF;
	justify-content: center;
}

.about_title{
	font-size: 16px;
	font-family: "Source Sans Pro";
	font-weight: bold;
	color: #212121;
	padding: 5% 0;
}


.box{
	padding: 2% 5%;
	width: 20%;
}


.description{
	font-size: 16px;
	font-family: "Source Sans Pro";
	color: #212121;
	word-wrap: break-word;
	line-height: 25px;

}


#featured2{
	display: flex;
	margin: 5%;
}

.featured_box{
	background-color: #222222;
	margin: 0 2%;
	padding: 2%;
	padding-top: 0;
	color: #EEEEEE;
	font-family: "Source Sans Pro";
	width: 30%;
	height: 70%;
}



.featured_box:hover  .orange_rect{
	width: 160px;
	height: 8px;
	background-color: #E64A19;
	align-items: center;
	padding: 0;
	display: flex;
	justify-content: center;
}
.featured_title{
	font-size: 14px;
	padding: 10% 0 5% 0;

}

.featured_desc{
	font-size: 24px;
	padding-bottom: 40%;
	padding-right: 0;
}

.featured_details{
	font-size: 14px;
}

.name{
	padding: 2% 0;
}

#clients{
	background-color: #EFEFEF;
	padding: 5% 0 10% 0;
	align-items: center;
	text-align: center;
}

#clients_img{
	margin-top: 5%;
}
#portfolio{
	padding: 5% 0 2% 0;
	align-items: center;
	text-align: center;
	margin: 5% 10% 0 10%;
	justify-content: center;
}


#portfolio_list{
	display: flex;
	font-size: 16px;
	font-family: "Source Sans Pro";
	color: #212121;
	justify-content: center;
}
.portfolio_list{
	padding: 0 1%;
}

#art{
	padding: 0;
}

.portfolio_rect{
	width: 8%;
	height: 8px;
	background-color: #E64A19;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top: 2%;
 	margin-bottom: 2%;

}

#portfolio_div{
	margin: 0 0;
}

#images{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5% 0 5% 0;
}

.image{
	width: 25%;
	height: 20%;
}

#quote{
	background-color: #212121;

}

#quote_icon{
		display: flex;
		justify-content: center;
		width: 1%;
		height: 15px;
		display: block;
 		margin-left: auto;
 		margin-right: auto;
 		padding-top: 5%;
 		margin-bottom: 2%;
		
}

#quote_txt{
	color: #EEEEEE;
	ont-size: 20px;
	font-family: "Source Sans Pro";
	text-align: center;
}

#author{
	color: #FFFFFF;
	ont-size: 20px;
	font-family: "Source Sans Pro";
	text-align: center;
	padding: 2% 2% 4% 2%;
}

#team{
	padding: 5% 0 2% 0;
	align-items: center;
	text-align: center;
	margin: 5% 10% 0 10%;
	justify-content: space-between;
}

#team_members{
	display: flex;
	margin: 2% 10% 5% 10%;
}

.member{
	padding: 0 8%;
}

.member_head{
	font-size: 12px;
	font-family: Source Sans Pro;
	font-weight: 500;
	margin: 10% 0;
	text-align: center;
}

.member_prof{
	font-size: 15px;
	font-family: Source Sans Pro;
		text-align: center;

}

#facts_numbers{
	background-image: url(".././images/blackwhite.png");
	width: 100%;
	height: 30%;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;

}

#facts_head{
	color: white;
	padding: 8% 0 10% 0;
}

#white_rect{
	width: 50%;
	height: 300px;
	background-color: rgb(255,255,255, 0.3411764705882353);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 0 auto ;
}

.facts_number1{
	padding-right: 15%;
}
.number{
	font-size: 27px;
	font-family: Source Sans Pro;
	font-weight: bold;
	margin: 5% 0 5% 0;
	text-align: center;
	color: #EEEEEE;
}

.black_rect{
			width: 80px;
	height: 4px;
	background-color: #4D4C4B;
	display: inline-block;
}
.facts{
	font-size: 25px;
	font-family: Source Sans Pro;
	margin-bottom: 10%;
	text-align: center;
	color: #EEEEEE;
}
.facts_rect{
	background-color: #E64A19;
	width: 70px;
	height: 5px;
	margin: 0 auto 10% auto;
}

#stories{
	margin: 10%;

}
.story{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3%;
}

.story_date{
	font-size: 14px;
	font-family: Source Sans Pro;
	text-align: center;
	color: #555555;
}
.story_head{
	font-size: 24px;
	font-family: Source Sans Pro;
	font-weight: bold;
	text-align: center;
	color: #222222;
	padding-top: 2%;
}

.story_des{
	font-size: 16px;
	font-family: Source Sans Pro;
	text-align: center;
	color: #333333;
	padding-top: 8%;
}

.story_text{
	width: 50%;
	padding: 5%;
}
.story_img{
	width: 100%;
}

#section10{
}

.vert_rect{
	background-color: #212121;
	width: 5px;
	height: 70px;
}

.section10_content{
	display: flex;
	align-items: center;
	padding: 0 10% 0 5%;
	margin: 5% auto 0 auto;
		background-color: #EFEFEF;
	width: 100%;
	height: 250px;
}

#section10_contents{
	display: flex;
	align-items: center;
	justify-content: center;

}
.section10_text{
	padding-left: 2%;
}
.section10_head{
	font-size: 18px;
	font-family: Source Sans Pro;
	font-weight: bold;
	color: #222222;
}

.section10_des{
	font-size: 14px;
	font-family: Source Sans Pro;
	color: #555555;
	padding-top: 8%;
}

#contacts{
	background-color: #212121;
	width: 100%;
	height: 500px;
	color: #999999;
	font-family: Source Sans Pro;

	
}
#contact{
	display: flex;
}
input[type=text] {
  border: none;
  border-bottom: 2px solid #999999;
  background-color: #212121;
}

#email_subject{
	display: flex;
}

.contact_head{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-family: "Source Sans Pro";
	font-weight: bold;
	padding-bottom: 5%;
}
.contact_content{
	margin: 5% 0 0 8%;
}

#social{
	justify-self: right;
	margin-top: 5%;
	 position: absolute;
  right: 0px;
  margin: 5% 15% 0 0;
}

.email{
	padding-right: 8%;
}
.email_subject_input{
	width: 100%;
}
.message_inp{
	width: 80%;
}

.social_list{
	padding: 3% 0;
}

form{
	margin: 5% 0;
}

.message{
	padding-top: 5%;
}

#footer_txt{
		margin-left: 8%;
		margin-top: 2%;
		padding-bottom: 5%;
}

#last_rect{
	width: 600px;
	height: 2px;
	background-color: #AAAAAA;
	margin-left: 8%;
	margin-top: 5%;
}